* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Root is setting variables to be changed within script.js for flexible resizing of the grid. */

:root {
	--num-of-rows: 0;
	--num-of-columns: 0;
}

header {
	font-size: 28px;
	align-self: center;
}

body {
	background: darkgray;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
}

button {
	height: 40px;
	width: 150px;
	background: rgba(100, 180, 200, 1);
	font-size: 14px;
	outline: none;
}

button:hover {
	background: rgba(110, 190, 220, 1);
	transform: scale(1.02);
	color: white;
}

footer {
	align-self: center;
	margin-top: 20px;
}

/* Sketch area grid-template-rows and grid-template-columns are using the repeat function by the
variables determined in the root variable.  This should give a proper, evenly spaced grid, whose
size can be changed flexibly. */

#sketch-area {
	border: 3px solid black;
	height: 800px;
	width: 800px;
	display: grid;
	grid-template-rows: repeat(var(--num-of-rows), 1fr);
	grid-template-columns: repeat(var(--num-of-columns), 1fr);
}

.main {
	align-self: center;
	display: flex;
	flex-direction: column;
}

.sketch-square {
	border: 1px dotted rgb(220, 220, 220);
	background: rgb(230, 230, 230);
}

.button-area {
	width: 800px;
	padding: 20px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.rainbow-div {
	align-self: center;
	margin-top: 20px;
	font-size: 18px;
}